.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerImage {
    width: 6rem;
    height: 6rem;
}

.headerHomeImage {
    width: 8rem;
    height: 8rem;
}

.backToHome {
    margin: 3rem 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    font-size: 1.5rem;
    border-bottom: solid 1px black;
    margin-bottom: 1rem;
}

.postedAt {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: #4f4f4f;
}

.tag {
    display: inline-block;
    margin-right: 0.5rem;
    text-decoration: none;
    color: #67c5ff;
    border: dashed 1px #67c5ff;
    background: #f2fcff;
    border-radius: 3px;
    transition: .1s;
    font-size: small;
}