.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerImage {
    width: 6rem;
    height: 6rem;
}

.headerHomeImage {
    width: 8rem;
    height: 8rem;
}

.backToHome {
    margin: 3rem 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    font-size: 2.0rem;
    border-bottom: solid 1px black;
    margin-bottom: 1rem;
}

.postedAt {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: #4f4f4f;
}

.tags {
    margin-top: 3.236rem;
    margin-bottom: 1.618rem;
}

.tag {
    display: inline-block;
    margin-right: 0.5rem;
    padding: 0.05rem 0.5rem;
    text-decoration: none;
    color: #2b2c2c;
    background: rgba(221, 216, 216, 0.6);
    border-radius: 3px;
    font-size: small;
}

.tag:hover {
    display: inline-block;
    margin-right: 0.5rem;
    padding: 0.05rem 0.5rem;
    text-decoration: none;
    color: #2b2c2c;
    border: dashed 1px #292929;
    background: rgba(221, 216, 216, 0.2);
    border-radius: 3px;
    font-size: small;
}