@media screen and (max-width: 768px) {
    .leftNav {
        visibility: hidden;
    }

    .rightNav {
        visibility: hidden;
    }

    .thesugar {
        padding: 0 0 0 1rem;
        margin: 3rem 0rem 0rem 0rem;
    }

    .container {
        padding: 0rem 1rem;
    }
}

@media screen and (min-width:768px) {
    /*　for PC　*/
    .allContainer {
        display: grid;
        margin: 0 auto 6rem;
        grid-template-columns: 10rem 1fr 10rem;
        grid-template-rows: 100px auto;
        max-width: 70rem;
    }
    
    .leftNav {
        margin-left: 50%;
        grid-column: 1 / 2;
    }
    
    .rightNav {
        grid-column: 3/ 4;
    }
    
    .thesugar {
        grid-row: 1 / 2;
        grid-column: 2/ 3;
        max-width: 36rem;
        padding: 0 1rem;
        margin: 3rem 0rem 0rem;
    }
    
    .container {
        max-width: 45rem;
        padding: 3rem 1rem;
        grid-column: 2 /3;
    }
 
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerImage {
    width: 6rem;
    height: 6rem;
}

.headerHomeImage {
    width: 8rem;
    height: 8rem;
}

.like {
    margin-bottom: 2rem;
}

.backToHome {
    font-family: "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
}

.title {
    font-size: 2.0rem;
    border-bottom: solid 1px black;
    margin-bottom: 1rem;
}

.postedAt {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: #4f4f4f;
}

.tags {
    margin-top: 3.236rem;
    margin-bottom: 1.618rem;
}

.tag {
    display: inline-block;
    margin-right: 0.5rem;
    padding: 0.05rem 0.5rem;
    text-decoration: none;
    color: #2b2c2c;
    background: rgba(221, 216, 216, 0.6);
    border-radius: 3px;
    font-size: small;
}

.tag:hover {
    display: inline-block;
    margin-right: 0.5rem;
    padding: 0.05rem 0.5rem;
    text-decoration: none;
    color: #2b2c2c;
    border: dashed 1px #292929;
    background: rgba(221, 216, 216, 0.2);
    border-radius: 3px;
    font-size: small;
}