html,
body {
  padding: 0;
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
  font-family: Palatino, "Hiragino Mincho ProN", "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", HGS明朝E, "Yu Mincho", YuMincho, "ＭＳ Ｐ明朝", serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 200ms ease-in 0s;
}

a:hover {
    background-color: #d5d6de7a;
}

img {
  max-width: 100%;
}

.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
}

.postDate {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: #4f4f4f;
}

hr {
    margin: 0.8rem 0rem;
    border: none;
    border-bottom: 1px solid #dadada;
}

a .btn-cross {
  background-color: inherit;
  padding: 0;
  transition: none;
  color: inherit;
}

.btn-cross {
  display: inline-block;
  position: relative;
  padding: 0.25em 1em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  text-decoration: none;
  font-weight: bold;
  color: #03A9F4;
  margin-bottom: 3rem;
}
.btn-cross:before, .btn-cross:after {
  content: '';
  position: absolute;
  top: -7px;
  width: 2px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: black;
  transition: .3s;
}
.btn-cross:before {
  left: 7px;
}
.btn-cross:after {
  right: 7px;
}
.btn-cross:hover:before {
  top: 0px;
  left:0;
  height: 100%;
}
.btn-cross:hover:after {
  top: 0px;
  right: 0;
  height: 100%;
}